.App {
  text-align: center;
}

.header {
  margin: 30px;
}

.formContainer {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.inputContainer {
  font-size: 18px;
  margin: 5px;
}

.selected {
  background-color: aqua;
}